doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ShonePanel
  body
    img(src = imgSrc, width='300')
    button(id="closePanel") closePanel
    button(id="changeCount") changeCount
    input(type="text" id="lines-of-code-counter" value="0")
    script(id="script-jquery") ##jquery##
    script(id="script-main") ##main##

