doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ShonePanel
  body
    img(src = imgSrc, width='300' id="catImg")
    br
    button(id="closePanel") closePanel
    br
    button(id="changeCount") changeCount
    br
    input(type="text" id="msg" value="0")
    button(id="postMSG") postMSG
    br
    script(id="script-jquery") ##jquery##
    script(id="script-main") ##main##

